.form{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 100px;
}

.form_title{
    font-size: 32px;
    color: rgba(0,0,0,0.4);
    padding: 20px 0;
    box-sizing: border-box;
    border-bottom: rgba(0,0,0,0.4) solid 2px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.links_container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.form_link{
    font-size: 18px;
    text-decoration: none;
}

.form_link:hover{
    text-decoration: underline;
}

.inp_container{
    display: flex;
    flex-direction: column;
    border-bottom: rgba(0,0,0,0.4) solid 2px;
}

.inp{
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 25px;
    width: 100%;
    background-color: white;
    outline: none;
    transition: all .2s;
}

.inp_default:hover{
    border: rgb(124, 124, 124) solid 2px;
}

.inp_default:focus{
    border: rgb(68, 112, 236) solid 2px;
}
.inp_default{
    border: rgb(212, 212, 212) solid 2px;
}

@media (max-width: 650px){
    .form{
        width: 400px;
        margin-top: 40px;
    }

    .inp{
        font-size: 14px;
        padding: 7px;
        margin-bottom: 18px;
    }
}

@media (max-width: 500px){
    .form{
        width: 350px;
    }
}