{% extends 'base.html' %}
{% block content %}
    <div class="container dir_row" style="width: 100%; justify-content: center">
    <div class="container">
    <form method="POST" class="form" style="width: 100%">
    {% csrf_token %}
        <div class="container dir_row" style="width: 100%; justify-content: center;">
            <div class="container" style="width: 100%;">
                {{ form.media }}
                {{ form }}
                <button type="submit" class="bt bt_default" style="font-size: 19px;">Create</button>
            </div>
        </div>
    </form>
    </div>
    </div>
{% endblock %}