#upload {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    width: 100%;
    border-radius: 3px;
}

#drop {
    padding: 10px 40px;
    text-align: center;
    background-color: #e1e2ff;
    box-shadow: rgba(0,0,0,0.25) 0 4px 4px 0;
    margin-top: 10px;
    box-sizing: border-box;
}

#upload ul {
    list-style: none;
    margin: 0 -30px;
}

#drop input {
    display: none;
}

#upload ul li {
    padding: 15px;
    height: fit-content;
    position: relative;
}

#upload img{
    max-width: 230px;
    height: fit-content;
}

.progress_c_bar{
    background-color: #5973ff;
}

.container_progress_bar{
    width: 100%;
    background-color: #fff;
    z-index: -1;
    height: 6px;
}

.upload-image-container{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    justify-content: center;
    border-bottom: #7a7a7a solid 1px;
    padding: 5px 10px;
    transition: all .2s;
    object-fit: cover;
    box-sizing: border-box;
}

.upload_image{
    width: 50px;
}

.upload-image-container:hover{
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.spinner {
    animation: rotate 2s linear infinite;
    margin-right: 10px;
}

.login_spinner{
    width: 18px;
    height: 18px;
}

.spinner circle {
    stroke: rgb(201, 210, 255);
    animation: anim 1.5s ease-in-out infinite;
    stroke-linecap: round;
}

.progress_ul{
    display: flex;
    flex-direction: column;
    box-shadow: inset rgba(0,0,0,0.25) 0 4px 4px 0;
    padding: 20px 40px;
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    margin-top: 30px;
    text-align: center;
    background-color: #e1e2ff;
    overflow: auto;
}

.question_about_edit_message_close{
    width: fit-content;
    box-sizing: border-box;
}

.question_about_edit_message_close svg{
    transition: transform .2s;
}

.question_about_edit_message_close:hover{
    cursor: pointer;
    font-weight: bold;
}

@media (max-height: 850px) {
    .progress_ul{
        height: 400px;
    }
}

@keyframes anim {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
