{% extends 'base.html' %}
{% block title %}
Upload and decrypt form
{% endblock %}

{% block content %}
<div class="container dir_row" style="justify-content: center">
<div class="help_upload_text" style=" width: 80%">
    <div class="form_title" style="flex-wrap: wrap; margin-top: 10px;">Введите нужные данные для последующей загрузки файла:</div>
    <div class="container dir_row" style="width: 100%; justify-content: center">
        <div class="inp_container" style="width: 100%">
            <div class="container dir_row" style="width: 100%">
                <div style="margin: 5px; font-size: 22px;">1.</div><input class="inp inp_default" style="width: 33.3%; margin: 0" min="1" type="number" placeholder="Кол-во строк..." data-action="rows">
                <div style="margin: 5px; font-size: 22px;">2.</div><input class="inp inp_default" style="width: 33.3%; margin: 0" min="1" type="number" placeholder="Кол-во столбцов..." data-action="columns">
                <div style="margin: 5px; font-size: 22px;">3.</div><input class="inp inp_default" style="width: 33.3%; margin: 0" min="1" type="number" placeholder="Максимальное кол-во файлов (по умолчанию 700)..." data-action="files_count">
            </div>
            <div class="container dir_row" style="width: 100%">
                <div style="margin: 5px; font-size: 22px; margin-top: 25px">4.</div><input class="inp inp_default" type="text" placeholder="Правильные ответы через пробел, например 1А 2Б..." data-action="answers">
            </div>
            <div class="container dir_row" style="width: 100%">
                <div style="margin: 5px; font-size: 22px; margin-top: 25px">5.</div><input class="inp inp_default" type="text" placeholder="Буквы ответов через пробел, например А Б..." data-action="words">
            </div>
        </div>
    </div>
    <div class="container dir_row" style="flex-wrap: wrap; margin-top: 10px; font-size: 17px;">Для загрузки перетащите файл в средний контейнер или нажмите на кнопку загрузить и выберите нужный файл.</div>
    <div class="container dir_row" style="flex-wrap: wrap; margin-top: 10px; font-size: 17px;">Для удаления загруженного файла нажмите на крестик справа от описания файла.</div>
</div>
</div>
<div class="upload_form">

    <form data-action="upload_photos" action="{% url 'decryptor_blank_upload' %}" id="upload" method="get" enctype="multipart/form-data">
        <div style="width: 95%;">
            {% csrf_token %}
            <div id="drop">
                <a class="bt bt_default">Загрузить</a>
                <!-- Пока загружаем только форматы .jpg и .jpeg, при загрузке .jpg преобразовывается в .jpeg -->
                <input id="files_uploader" type="file" name="upl" />

            </div>
            <!-- Сюда через jquery добавляются загруженные файлы -->
            <div class="container dir_row" style="justify-content: center">
                <ul class="upload_container" style="margin-top: 30px;">
                </ul>
            </div>

            <div class="container dir_row" style="justify-content: center">
                <div data-action="debug_window" class="upload_container" style="margin-top: 30px; height: fit-content">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container dir_row" style="justify-content: flex-end; width: 92%">
    <button class="bt bt_default" data-action="send_photos">Готово</button>
    <button class="bt bt_default_reverse" data-action="delete_all_photos">Отмена</button>
</div>
{% endblock %}