<!DOCTYPE html>
{% load static %}
<!-- Base template for navigation panel and footer on all pages in this web-site -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/content.css' %}">
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
    <link rel="stylesheet" href="{% static 'css/special_classes.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <script type="text/javascript" src="{% static 'manage/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'manage/jquery.iframe-transport/jquery.iframe-transport.js' %}"></script>
    <script type="text/javascript" src="{% static 'manage/jquery.ui.widget/jquery.ui.widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'manage/blueimp-file-upload/js/jquery.fileupload.js' %}"></script>
    <script type="text/javascript" src="{% static 'manage/jquery-form/dist/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/upload.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/auth.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/loading.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/display_warnings.js' %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="nav_panel">
    {% with request.resolver_match.url_name as un %}
        <div class="nav_main_item">
            <div class="nav_title_container" style="justify-content: center;">
                <a class="nav_title" href="{% url 'index' %}">FormDecryptor</a>
            </div>
            <a href="{% url "index" %}" class="{% if un == 'index' %}nav_item_active{% else %}nav_item{% endif %}">Главная страница</a>
            <a href="{% url "decryptor_index" %}" class="{% if un == 'decryptor_index' %}nav_item_active{% else %}nav_item{% endif %}">Сканер бланков</a>
            <a href="{% url "about" %}" class="{% if un == 'about' %}nav_item_active{% else %}nav_item{% endif %}">Инструкция</a>
        </div>
        <div class="nav_auth_item">
            <!-- If user is authenticated we see him full name and link to logout in navigation panel -->
            {% if request.user.is_authenticated %}
                <!-- We need to create profile settings page -->
                <div class="submenu_container">
                    <a href="{% if request.user.is_superuser %}/admin/{% else %}{% url 'edit_profile' %}{% endif %}" class="{% if un == 'edit_profile' or un == 'change_password' %}nav_item_active{% else %}nav_item{% endif %} nav_item_submenu">{{ request.user.username }}</a>
                    <div class="submenu">
                        <a class="submenu_item" href="{% url 'edit_profile' %}">Изменить профиль</a>
                        <a class="submenu_item" href="{% url 'change_password' %}">Смена пароля</a>
                    </div>
                </div>
                <a href="{% url 'logout' %}" class="{% if un == 'logout' %}nav_item_active{% else %}nav_item{% endif %}">Выйти</a>
            <!-- Else we see link to register and to login -->
            {% else %}
                <a href="{% url 'register' %}" class="{% if un == 'register' %}nav_item_active{% else %}nav_item{% endif %}">Зарегистрироваться</a>
                <a href="{% url 'login' %}" class="{% if un == 'login' %}nav_item_active{% else %}nav_item{% endif %}">Войти</a>
            {% endif %}
        </div>
    {% endwith %}
</nav>
<div class="content_container" >
    <div class="content">
        <!-- All content of this web-site -->
        {% block content %}

        {% endblock %}
        <footer class="footer">
            <div class="footer_item">&copy; Hakaton Team </div>
            <a href="{% url "index" %}" class="footer_item">Главная страница</a>
            <a href="{% url "contacts" %}" class="footer_item">Контакты</a>
            <a class="footer_item" href="https://github.com/Artemka007/FormDecryption">Проект на GitHub</a>
            <a class="footer_item" href="{% url 'about' %}">INSTRUCTION</a>
            <a class="footer_item" href="https://docs.google.com/document/d/11gZ-GqUpfL4QKW7UxLPR68zDaDCGLPgG8h9TjmVC_BM/edit#">DOCS</a>
        </footer>
    </div>
</div>
<div class="container dir_row" style="position: fixed; justify-content: center; height: fit-content; width: 100%;" data-action="container_modal_error_window">

</div>
</body>
</html>